@model Negocio.Models.Categoria

@{
    ViewBag.Title = "Delete";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Categoria</h2>
    </div>
    <div class="panel-body">
        <h3>¿Esta usted seguro que desea eliminar esta categoria?</h3>
        <fieldset>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>
            <br />
        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" class="btn-primary" value="Eliminar" /> 
            </p>
    <div>
        @Html.ActionLink("Volver", "Index")
    </div>
        }
    </div>
</div>
