@model Negocio.Models.Categoria

@{
    ViewBag.Title = "Details";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Categoria</h2>
    </div>
    <div class="panel-body">
        <fieldset>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaId }) |
            @Html.ActionLink("Volver", "Index")
        </p>
    </div>
</div>
