@model Negocio.Models.Item

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Detalles del Item</h2>
    </div>
    <div class="panel-body">
        <fieldset>
            <div style="font-weight: bold">
                Item
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>
            <br />
            <div style="font-weight: bold">
                Pertenece a la Sub-Categoria:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SubCategoria.Nombre)
            </div>
        </fieldset>
        <br />
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ItemId }) |
            @Html.ActionLink("Volver", "Index")
        </p>
    </div>
</div>