@model Negocio.Models.SubCategoria

@{
    ViewBag.Title = "Delete";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Sub-Categoria</h2>
    </div>
  <div class="panel-body">
            <h4>¿Esta usted seguro que desea eliminar esta Sub-Categoria?</h4>
            <fieldset>
                <br />            
                <div class="display-field">
                    @Html.DisplayFor(model => model.Nombre)
                </div>
                <br />
                <div style="font-weight: bold">
                    Perteneciente a la Categoria:
                </div>
                <div class="display-label">
                    @Html.DisplayFor(model => model.Categoria.Nombre)
                </div>
                <br/>
            </fieldset>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p>
                    <input type="submit" class="btn-primary" value="Eliminar" /> 
                </p>
   
            }
      <div>
          @Html.ActionLink("Volver", "Index")
      </div>
    </div>
</div>