@model Negocio.Models.SubCategoria

@{
    ViewBag.Title = "Details";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Detalle de la Sub-Categoria</h2>
    </div>
    <div class="panel-body">
        <fieldset>
            
            <div class="display-field">
                @Html.DisplayFor(model => model.Nombre)
            </div>
            <br />
            <div style="font-weight: bold">
                Pertenece a la Categoria:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Categoria.Nombre)
            </div>
        </fieldset>
        <br />
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.SubCategoriaId }) |
            @Html.ActionLink("Volver", "Index")
        </p>
    </div>
</div>
